.duty-detail{
  margin: 50px;
}

.admin-duty-details {
  max-width: 400px;
 margin-left: 350px;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-right: 80px;
  display: inline;
}

.admin-duty-details h2 {
  text-align: center;
  margin-bottom: 20px;
}

.admin-duty-details form {
  display: grid;
  flex-direction: row;
  gap: 10px;
}

.admin-duty-details label {
  font-weight: bold;
}

.admin-duty-details input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.admin-duty-details button {
  margin-top: 10px;
  width: 30%;
  padding: 10px;
  background-color: #05468c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 350px;
}

.admin-duty-details button:hover {
  background-color: #0056b3;
} 




