/* FacultyPage.css */

/*.faculty-page {
    font-family: Arial, sans-serif;
  }
  
  .faculty-page h2 {
    margin-bottom: 10px;
  }
  
  .faculty-page ul {
    list-style-type: none;
    padding: 0;
  }
  
  .faculty-page li {
    margin-bottom: 5px;
  }
  
  .faculty-page input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .faculty-page label {
    vertical-align: middle;
  }
  */
  /* facultydashboard.css */

  .faculty-page {
    font-family: Arial, sans-serif;
  }
  
  .faculty-page h2 {
    margin-bottom: 20px;
  }
  
  .faculty-page table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .faculty-page th,
  .faculty-page td {
    padding: 8px 12px;
    border: 1px solid #ccc;
  }
  
  .faculty-page th {
    background-color: #f2f2f2;
  }
  
  .faculty-page input[type="checkbox"] {
    cursor: pointer;
  }
  .faculty-info {
    width: 20%;
    height: 100%;
    padding: 20px; /* Adjusted padding */
    background-color: #e0e0e0; /* Adjusted background color */
  }
  .tables {
    width: 100%;
    height: 100%; /* Updated to 100% height */
    margin: auto;
    margin-right: 0%;
    display: flex; /* Assuming you want a flex container */
  }
  
  .faculty-info img {
    width: 100%;
    border-radius: 20px;
    margin-top: 50%;
  }
  
  .faculty-info p {
    margin: 10px 0;
    font-size: 16px; /* Adjusted font size */
    color: #333; /* Adjusted text color */
    font-weight: 600;
    
  }
  


  .table__wrapper {
    overflow-x: auto;
    height: 100%;
    width: 100%;
    margin: 80px;
    font-family: Arial, sans-serif;
  }
  h1 {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .table {
    width: 100%;
    border-collapse: collapse;
    height: 100%;
  }
  
  .table__header {
    background-color: #0C2340;
    color: white;
  }
  
  .table__header td {
    padding: 12px;
    text-align: left;
  }

  .table__body td {
    font-size: 20px;
  }
  
  