/* adminlogin.css */

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container styles */
section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

/* Background image styles */
.imgBx {
  position: relative;
  width: 50%;
  height: 100%;
}

.imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Content styles */
.contentBx {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.formBx {
  width: 80%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

.formBx h2 {
  color: #0C2340;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 4px solid #AE9142;
  display: inline-block;
  letter-spacing: 1px;
}

.inputBx {
  margin-bottom: 20px;
}

.inputBx span {
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
  color: #607d8b;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
}

.inputBx input[type="text"],
.inputBx input[type="password"] {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #607d8b;
  font-size: 16px;
  letter-spacing: 1px;
  color: #607d8b;
  background: transparent;
  border-radius: 30px;
}

.inputBx input[type="checkbox"] {
  margin-right: 10px;
}

.inputBx input[type="submit"] {
  background: #0C2340;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 30px;
}

.inputBx input[type="submit"]:hover {
  background: #AE9142;
}

.remember {
  margin-bottom: 10px;
  color: #607d8b;
  font-weight: 400;
  font-size: 14px;
}

.inputBx p {
  color: #607d8b;
}

.inputBx p a {
  color: #0C2340;
}

/* Responsive styles */
@media(max-width:768px) {
  .imgBx {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .contentBx {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .formBx {
    width: 100%;
    padding: 40px;
    background: rgb(255 255 255 / 0.9);
    margin:50px;
  }
}
