.sidebar {
  width: 300px;
  /* background-color: #f0f0f0; */
  background-color:#002244;
   padding: 20px; 
  height: 100vh;
}

.profile-info {
  margin-bottom: 20px;
  
}

.sidebar-options button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  /* background-color: #05468c;
  color: #fff; */
  background-color:teal;
  color:#fafafa;
  border: none;
  
  cursor: pointer;
  font-size:large;
  /* font-style:Sans-serif; */
  
}

.sidebar-options button:hover {
  background-color: rgba(117, 160, 160, 0.516);
}

.imgBox {
  margin-bottom: 20px;
  margin-left: 31px;
  margin-top: 50px;
}

.profile-info p{
  font-size: large;
  margin-bottom: 20px;
  color:white;

} 

.imgBox img {
width: 200px;
border-radius: 50%;
}
.back-button {
  /* Button styles */
  display: block;
  width: 40px; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
  border: none;
  border-radius: 50%; /* Make the button round */
  background-color: white;
  font-size: 20px; /* Adjust font size as needed */
  color: #080808; /* Black text color */
  cursor: pointer;
}

.back-button:hover {
  background-color: #f0f0f0; /* Light gray background on hover */
}
