/* viewDetails.css */
/*
.view-duty-details {
  margin:30px;
}



.view-duty-details table {
  width: 300px;
  border-collapse: collapse; 
}

.view-duty-details th,
.view-duty-details td {
  padding: 8px;
  border: 1px solid #ddd;
}

.view-duty-details th {
  background-color: #f2f2f2;
  text-align: left;
}

.view-duty-details tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.view-duty-details tbody tr:hover {
  background-color: #ddd;
}
*/

.view-duty-details {
  margin-top: 20px;
}

.view-duty-details table {
  width: 100%;
  border-collapse: collapse;
}

.view-duty-details th,
.view-duty-details td {
  border: 1px solid #dddddd;
  padding: 8px;
}

.view-duty-details th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.view-duty-details tr:nth-child(even) {
  background-color: #f2f2f2;
}
